.searchbox {
    margin-top: 0.5rem;
    position: relative;
    border: 0px;
    background: #202f3c;
}

/* Background color of the menu */
#sidebar,
#header-wrapper,
#homelinks {
  background-color: #161D23;
  border-bottom: none;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #202f3c;
}

#toc-menu {
  cursor: pointer;
}

/* Open subsections by default */
#sidebar ul.topics ul {
  /* display: block; */
}


/* Comments section */
.comment-title-container {
  max-width: 100%;
  margin: 40px auto 10px;
  font-size: 1.8em;
}

.comment-title-container hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  margin-bottom: 0px;
}

.comment-title-container hr:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.comment-title-container hr:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}