<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.GoogleAnalytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.Site.GoogleAnalytics}}');
</script>

<link href="/libs/asciinema/asciinema-player.css" rel="stylesheet" />